/* START: DESKTOP DEVICES */
@media (min-width: 1024px) {

  /************************
      HEADER & MAIN NAVIGATION
  ************************/

  .page-header {
    display: flex;
    justify-content: space-between;
  }


  .main-nav {
    align-self: center;
  }

  .main-nav ul,
  .main-nav li {
    margin: 0;
  }


  /************************
      STUDENT PRESENTATION
  ************************/




  /************************
      STUDENT PORTFOLIO
  ************************/

  #portfolio {
    margin-bottom: 0;
  }

  .student-projects {
    flex-basis: 33.3333%;
  }

  .student-projects:hover {
    transition: .30s;
    background: #aaa;
    color: #fff;
  }



  /************************
      STUDENT SKILLS
  ************************/


  /************************
      STUDENT CONTACT PAGE
  ************************/

}
/* END: DESKTOP DEVICES */
