.student-contact-page {
  text-align: center;
  font-weight: 300;
}


.contact-student-items {
  padding-left: 0;
}

.contact-student-items a {
  margin-left: 10px;
  color: #000;
  font-weight: 400;
}

.contact-student-items a:hover {
  text-decoration: underline;
}
