.student-presentation {
  text-align: center;
  font-weight: 300;
}

.student-presentation img {
  max-width: 80%;
}

.student-presentation p a {
  color: #000;
  font-weight: 400;
}

.student-presentation p a:hover {
  text-decoration: underline;
}
