.student-presentation {
  @extend %centered;
  @extend %clearfix;
  font-weight: 300;
}

.student-presentation img {
  max-width: 80%;
}

.student-presentation p a {
  color: #000;
  font-weight: 400;
  // Only targets the a tags on hover
  &:hover {
    text-decoration: underline;
  }
}
