.skills-quote {
  @extend %centered;
  font-weight: 300;
  font-style: italic;
  // Only targets the author of the quote (Mahatma Gandhi)
  & span {
    font-weight: bold;
  }
}

.student-skills p:nth-child(3),
.student-skills p:nth-child(4) {
  text-align: justify;
}

.technical-skills {
  padding-left: 0;
  @extend %centered;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  // Only targets the list of skills
  & li {
    border: 2px solid $color-border-dark;
    padding: 5px;
    margin: 5px;
  }
}
