.footer-nav ul {
  @extend %no-padding;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.footer-nav li:first-child {
  margin-right: auto;
}

.footer-nav a {
  @extend %to-upper;
  color: $color-link-default;
}

.footer-nav-items a {
  display: none;
}
