.main-nav ul {
  @extend %no-padding;
  display: none;
}

.main-nav li {
  background: $background-color-main-nav;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-nav a {
  @extend %to-upper;
  @include text(1em, $weight: bold, $color: $color-link-default);
  display: block;

  // Only target my a tags inside .main-nav
  &:hover {
    color: $color-link-hover;
  }
}
