.main-nav ul {
  @extend %no-padding;
  display: none;
}

.main-nav li {
  background: #fff;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-nav a {
  @extend %to-upper;
  font-weight: bold;
  color: #000;
  display: block;
}

.main-nav a:hover {
  color: #777;
}
